/*body {
  background-color: #202732;
  color:white;
}*/

#content {
    /*padding-bottom:60px;*/
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

body {

 }

 main {
   flex: 1 0 auto;
 }


#loading {
  display:none;
}


/*Hide Cordova loading tag */
.ui-loader {
  display:none;
}
a {
  color: #00AEEF ;
  text-decoration: none;
}

.fa {
  display: block;
  line-height: 20px;
}
#log {
  text-align:center;

}
#search-panel {
  padding:20px;
  text-align:center;
}

#search-again-panel{
  display:none;
}

.powered-foursquare {
  width:100%;
  padding-top:10px;
}
/*
#search-button{
  border:1px solid #00AEEF;
  padding:10px;
  border-radius:20px;
  color:white !important;
}
#search-button:hover {
  background-color:#00AEEF;
  border:1px solid black;

  color:black !important;
}*/
